<h2 class="text-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <div class="form-group">
      <div class="control-label col-sm-2 col-sm-offset-2">
        <%= f.label :email %><br />
      </div>
      <div class="col-sm-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@exaple.com" %>
      </div>
    </div>
  </div>
  <br>

  <div class="field">
    <div class="form-group">
      <div class="control-label col-sm-2 col-sm-offset-2">
        <%= f.label :password %>
      </div>
      <% if @minimum_password_length %>
      <% end %><br />
      <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "( #{@minimum_password_length} characters minimum)" %>
      </div>
  </div>
  <br>

  <div class="field">
    <div class="form-group">
      <div class="control-label col-sm-2 col-sm-offset-2">
        <%= f.label :password_confirmation %><br />
      </div>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "( #{@minimum_password_length} characters minimum)" %>
      </div>
    </div>
  </div>
  <br><br><br>

  <div class="col-sm-offset-4 col-sm-8">
    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary btn-large' %>
    </div>
  </div>
  <br><br>
<% end %>

<div class="col-sm-offset-4 col-sm-8">
  <%= render "devise/shared/links" %>
</div>
